.filme-card {
    position: relative; /* Adiciona um contexto de posicionamento para o tooltip */
}

.tooltip {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    display: none; /* Inicialmente escondido */
    white-space: nowrap;
    z-index: 10; /* Garante que o tooltip apareça sobre outros elementos */
}

.filme-card:hover .tooltip {
    display: block; /* Exibe o tooltip quando o mouse está sobre o card */
}

.comentario {
    margin: 10px 0;
    font-size: 14px;
    color: #6b705c; /* Verde musgo suave */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    position: relative;
}

.comentario:hover {
    cursor: pointer;
}
